@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
	background-image: url("img/bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
.logo
{
	width: 14%;
	margin-left: 150px;
}
.nav-item
{
	padding: 1em;
	padding-right: 6em;
}
.navbar
{
	background-image: none;
	background-color:rgba(196, 196, 196,.2);
}
.nav-link
{
	color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
}
.active
{
	border-bottom: 5px solid yellow;
}
.im
{
	width: 25%;
	margin-top: 20px;
	border: 5px solid #F1C72D;
	margin-left: 350px ;
}
.jumbotron
{
	padding: 5px;
	color: white;
	background-color: transparent;
}
.jumbotron h1
{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;;
	font-size: 64px;
	line-height: 450px;
	margin-left: 50px;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.25);
	letter-spacing: 0.005em;
}
.jumbotron b
{
	color: #F1C72D;
}
.jumbotron p
{
	position: absolute;
	width: 299px;
	height: 29px;
	left: 900px;
	top: 360px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	color: rgba(255, 255, 255, 0.7);
}
hr
{
	width: 80%;
	border: 4px solid #F1C72D;
	margin-top: 70px;
}
.hr
{
	margin-top: 0;
	float: left;
	margin-left: 20px;
	width: 30%;
}
.text-center
{
	color: rgba(255, 255, 255, 0.7);
	line-height: 150px;
	font-size: 22px;
}
.con h3
{
	color: #FFFFFF;
}
.text-left
{
	color: rgba(255, 255, 255, 0.7);
	line-height: 150px;
	font-size: 22px;
	margin-left: 220px;
}
.text-left1
{
	color: rgba(255, 255, 255, 0.7);
	line-height: 150px;
	font-size:48px;
	margin-left: 50px;
}
.limit2
{
	width: 30%;
	border: 3px solid #F1C72D;
	margin-top: -60px;
	margin-left: 50px;
	float: left;
}
.limit1
{
	width: 40%;
	margin-top: -70px;
	margin-left: 220px;
	float: left;
}
.limit
{
	width: 30%;
	margin-top: -70px;
}
.cd
{
	width: 100%;
	margin-top: 100px;
	height: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.form-group .cc1
{
	color: white;
}
.cc
{
	padding: 10px;
	margin-bottom: 10px;
	background: rgba(196, 196, 196, 0.2);
	border-radius: 79px;
	width: 80%;
	height: 600px;
}
.aligning
{
	width: 28%;
	margin-left: 150px;
	border-right:5px solid #F1C72D;	
}
.card
{
	display: inline-block;
	margin-left: 5.7em;
	width: 25%;
	background-color: transparent;
	border: none;
	text-align: center;
}
.ac
{
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 79px;
	width: 80%;
	height: inherit;
}
.goals
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 29px;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
td {
	width:50%;
}
.dd
{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.c1
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 48px;
	letter-spacing: 0.005em;
	color: #FFFFFF;
}
.c3
{

	font-family: Montserrat;
	font-style: normal;
	font-size: 20px;
	text-align: center;
	line-height: 37px;
	color: #FFFFFF;
}
li.cf
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	margin-left: 200px;
	letter-spacing: 0.005em;
	color: #FFFFFF;
}
.in1
{
	margin-top: 20px;
	margin-left: 90px;
}
h1.q1
{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	margin-top: -150px;
	font-size: 50px;
	color: #F1C72D;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.25);
}

.div-container
{
	width: 85%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*padding: 1.5em;*/
	margin-bottom: 10px;
	background: none;
	box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.25);
	border-radius: 49px;
	position: relative;
}
.crd
{
	padding: 10px;
	height: inherit;
	box-shadow: none;
}
.min-card
{
	text-align: center;
	height: inherit;
	display: inline-block;
	margin: 20px;
	background: #444444;
	box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}
.min-card{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;

	color: #D9D9D9;;
}
.min-card img
{
	width: 66px;
	height: 75px;
}
h1.display
{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 96px;
	/* identical to box height */
	letter-spacing: 0.010em;
	color: #F1C72D;
	text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.25);
}
.w1
{
	margin-left:80px;
}
.card
{
	border: none;
	width: 30%;
	display: inline-block;
	margin: 23px;
}
.card1
{
	width: 20%;
	height: 200px;
}
.card1 img
{
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
}
.im
{
	width: 30%;
	display: inline-block;
	height: 30%;
}
.mot
{
	width: 95%;
	height: 600px;
	margin-left:100px;
	box-shadow: 7px 4px 5px 10px rgba(0, 0, 0, 0.25);
}
.q2
{
	margin-left: 150px;
	margin-top: 10px;
}
.cap
{
	margin: 0px;
}
.form-group
{
	font-family: montserrat;
	width: 80%;
	margin: 20px;
	margin-left: 50px;
}
.btn
{
	margin-top: 20px;
	float: right;
	color: black;
	background-color: #C4C4C4;
	width: 150px;
	border: none;
	height: 50px;
	margin-bottom: 200px;
}
.q3
{
	border-left:5px solid #F1C72D;	
	height: 550px;
}
.q4
{
	display: inline-block;
}
.q5 
{
	width:50%;
}
.q6
{
	text-align: center;
	padding-top: 50px;
}
.media td
{
	width: 100px;
	line-height: 50px;
}
.q8
{
	width: 600px;
	margin: 30px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: Montserrat;
}
.q9
{
	padding-left: 167px;
	padding-top: 50px;
}
.footer
{
	width: 100%;
	background-color: rgba(196, 196, 196, 0.2);
	height: inherit;
	text-align: center;
	position: relative;
	padding: 20px;
	margin-top: 100px;
}
.q10
{
	margin-top: 100px;
}
.btnmore
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	float: right;
	margin-right: 320px;
	letter-spacing: 1.62px;
	padding: 10px;
	color: #FFFFFF;
	background-color: transparent;
}
.im1
{
	border: none;
	margin-left: 100px;
	margin-top: 50px;
	border-radius: 20px;
}
.media-body h3
{
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	/* identical to box height */
	color: #F1C72D;
	text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.25);
}
.con
{
	width: 1013px;
	height: 477px;
	margin-left: 20px;
	padding: 30px;
	top: 286px;
	background: rgba(196, 196, 196, 0.2);
	border-radius: 51px;
}
.media-body h3 
{
	margin-left: 20px;
}

.con1
{
	width: 1013px;
	height: inherit;
	left: 855px;
	padding: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.005em;
}
.con table
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 44px;
	/* identical to box height */
	color: #FFFFFF;
}
.media-body .con .td
{
	width: 20%;
}
.content {
  	bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  	color: white; /* Grey text */
  	width: 90%; /* Full width */
  	margin-left: 100px;
  	margin-top: -150px;
  	padding: 20px; /* Some padding */
}
.content p 
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	letter-spacing: 0.165em;
	-webkit-text-stroke: 1px black;
   	color: white;
   	text-shadow:3px 3px 0 #000,-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}
.content b
{
	margin-left: 200px;
	font-size: 20px;
}
.footer p
{
	font-size: 20px;
	color: #FFFFFF;
}
.c1 {
	margin-left: 50px;
	margin-top: -250px;
}
.c1 b
{
	margin-left: 0;
}
.container-fluid .media .media-body ul
{
	color: #FFFFFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 60px;
}
.vl {
  	border-left: 6px solid #FFD700;
  	height: 1000px;
	box-shadow: 10px 4px 15px 10px rgba(0, 0, 0, 0.25);
  	margin-top: 80px;
}